<% layout('/layouts/boilerplate') %>
<body>
    <h3>Listings details:</h3>
    <ul>
        <li> <%= listing.title%></li>
        <li> <%= listing.description%></li>
        <li>&#x20B9 <%= listing.price.toLocaleString("en-IN")%></li>
        <li> <%= listing.location%></li>
        <li> <%= listing.country%></li>
    </ul>
    <form method="get" action="/listings/<%=listing._id%>/update">
        <button>Update</button>
    </form>
    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
        <button>Delete</button>
    </form>
    
</body>