<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora posts</h1>
    <% for(let post of posts){ %>
    <div class="post">
        <h3 class="username">@<%=post.username %></h3>
        <h4 class="content"><%= post.content %></h4>
        <div style=" display: flex;justify-content: flex-start; justify-content: space-between;">
        <form method="get"  action="/posts/<%=post.id%>/edit">
            <button>Edit Post</button>
        </form>
        <form method="post" action="/posts/<%=post.id%>">
            <button>View Post</button>
        </form>
        <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
            <button>Delete Post</button>
        </form>
    </div>
    </div>    
    <% } %>
    <br><br><br>
    <a href="http://localhost:8080/posts/new">Add new post</a>
    <script src="/app.js"> </script>
</body>
</html>