<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All Chats</h1>
    <form method="get" action="/chats/new">
        <button>New Chat</button>
    </form>
    <br>
    <% for(let chat of chats){ %>

        <div class="chat">
            <b>New Chat</b>
            <p> <I>From:<%=chat.from%></I></p>
            <div class="msg">
                <p> msg:<%=chat.msg%></p>
                <form method="get" action="/chats/<%=chat._id %>/edit">
                    <button>edit</button>
                </form>
                <form method="post" action="/chats/<%=chat._id %>?_method=DELETE">
                    <button>delete</button>
                </form>
            </div>
            <p> <I>Receviced by:<%=chat.to%></I></p>
            <p><%=chat.created_at.toString().split(" ")[4] %></p>
            <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
            <hr>
        </div>
        <br><br>
        <% } %>
</body>
</html>